.product-order-layout {
    .product-order-footer-buy-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        color: white;
        .add-order {
            font-size: 0.4rem;
            color: black;
            line-height: 50px;
            margin-right: 0.2rem;
        }
        .submit-order {
            text-align: center;
            width: 30%;
            font-size: 0.4rem;
            line-height: 50px;
            background-color: red;
        }
    }
}